<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blekeyboard">

    <!-- 添加所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="BLE Keyboard"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <!-- 使用 GoNativeActivity 作为入口 -->
        <activity android:name="org.golang.app.GoNativeActivity"
            android:label="BLE Keyboard"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 定义 Go 库的名称 -->
            <meta-data
            android:name="android.app.lib_name"
            android:value="main" />
        </activity>

        
    </application>
</manifest>
